@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

:root{
    --primary-color:#679A14;
    /**#6C8E3F**/
    --dark-gray:#6B7280;
    --light-gray :#F3F4F6;
}

#loading{
    position: fixed;
    width:100%;
    height:100vh;
    background: #fff
    url('https://static-steelkiwi-dev.s3.amazonaws.com/media/filer_public/4e/07/4e07eece-7c84-46e2-944d-1a6b856d7b5f/463ff844-6f36-4ffe-b051-fea983d39223.gif')
    no-repeat center;
    z-index: 99999;

}

body{
    display: block;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0px;
    text-align: justify;
}

/** container **/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;

}


/** links **/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link{
    background-color : var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.secondary-link{
    color : var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}



hr{
    margin: 2rem 0rem;
}
.list-non-bullet{
    list-style : none;
}

.list-item-inline{
    padding:0rem 0.5rem;
    display: inline;
}
.navigation{
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 4px 4px 32px 4px rgba(0,0,0,.34);
}
.navigation .link{
    color: white;
}
.list-non-bullet-nav-pills{
    text-align: right;
    
}
.navigation .nav-brand{
    font-weight: bold;
    font-size:1.7rem;
    
    
}

.navigation .link-active{
    font-weight: bold;
}

.hero{
    padding-top:2rem;
    padding-bottom: 0.5rem;
}

.hero .hero-img{
    max-width: 320px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    color: var(--dark-gray);
    text-align: center;
    font-size:2rem;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
    
}

.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
    
}
.ow{
    background-color: var(--light-gray);
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,.17);
}

/**Footer**/


.para-image{
    text-align: center;
    box-shadow: 4px 4px 32px 4px rgba(0,0,0,.34);
}

.section .ul{
    text-align: center;
    padding: 1.1rem;
    
}
.section .h1{
    color: var(--primary-color);
}


.contents{
    margin-top:1rem;
    width:100vw;
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.slide-wrapper{
    font-size:20px;
    color:black;
    font-weight: bold;
    text-transform: uppercase;
    display:flex;
    align-items: center;
    justify-content: center;
}


.slider{
    height:35px;
    padding-left:10px;
    overflow: hidden;

    

}
.slider div{
    color:white;
    height:50px;
    margin-bottom: 50px;
    padding:2px 15px;
    text-align:center;
    box-sizing: border-box;
}
.slider-text1{
    background:lightgreen;
    animation: slide 5s linear infinite;

}
.slider-text2{
    background:skyblue;
    
}
.slider-text3{
    background:lightcoral;
    
}
@keyframes slide{
    0%{margin-top: -300px;}
    5%{margin-top: -200px;}
    33%{margin-top: -200px;}
    38%{margin-top: -100px;}
    66%{margin-top: -100px;}
    71%{margin-top: 0px;}
    100%{margin-top: 0px;}
}

footer{
    text-align: center;
    background-color: var(--primary-color);
    padding:1rem;
    
}

