@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&display=swap');

:root{
    --primary-color:#679A14;
    /**#6C8E3F**/
    --dark-gray:#6B7280;
    --light-gray :#F3F4F6;
}

body{
    display: block;
    font-family: 'Cinzel', serif;
    margin: 0px;
    text-align: justify;
}

/** container **/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;

}


/** links **/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link{
    background-color : var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.secondary-link{
    color : var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}

hr{
    margin: 2rem 0rem;
}
.list-non-bullet{
    list-style : none;
}

.list-item-inline{
    padding:0rem 0.5rem;
    display: inline;
}
.navigation{
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 4px 4px 32px 4px rgba(0,0,0,.34);
}
.navigation .link{
    color: white;
}
.list-non-bullet-nav-pills{
    text-align: right;
    
}
.navigation .nav-brand{
    font-weight: bold;
    font-size:1.7rem;
    
    
}

.navigation .link-active{
    font-weight: bold;
}

.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 320px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    color: var(--dark-gray);
    text-align: center;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
    
}
.ow{
    background-color: var(--light-gray);
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,.17);
}

/**Footer**/


.para-image{
    text-align: center;
    box-shadow: 4px 4px 32px 4px rgba(0,0,0,.34);
}

.section .ul{
    text-align: center;
    padding: 1.1rem;
    
}
.section .h1{
    color: var(--primary-color);
}
footer{
    text-align: center;
    background-color: var(--primary-color);
    padding:1rem;
    
}