@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');
h1 {
    color : yellow;
    font-family: 'Saira Semi Condensed', sans-serif;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: auto;
}